@page
@model Website.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
    ViewData["Intro"] = "Pokémon Collections";
}
@using TheFlyingSaucer.Data;

<div class="slogan">
    <div class="slogan-more">
        <h1>
            @ViewData["Intro"]
        </h1>
        <div class="call-to-action">
            <spans class="slogan-catch">View Pokémon Here</spans>
            <div class="slogan-whitespace"></div>
            <div class="slogan-arrow">
                <img src="~/Images/arrow.png" width="100" height="60" />
            </div>
            <div class="button">
                <a class="slogan-button" asp-area="" asp-page="/Pokemon">Pokémon Awaits</a>
            </div>
        </div>
    </div>
</div>

<div class="all-feature">
    <div class="top3-user-stat feature">
        <div class="container">
        <div class="feature-text">
            <div class="feature-detail">
                <h4>STRIVE TO BE THE BEST!</h4>
                <h2>STATS FOR THE TOP 3 USERS </h2>
                <div class="feature-stats">
                    <!--
                        <h5>List out the top 3 user emails and average stat block total</h5>
                    -->
                    @foreach (var item in @Model.TopUserStat)
                    {
                        <div class="stat-function-item flex-item">
                            <h5>@item.Email: <span>@item.AverageTotalStat</span></h5>
                        </div>
                    }
                </div>
            </div>
        </div>
            <div class="feature-image">
                <img src="~/Images/pokemonhome1.png" width="955" height="340" />
            </div>
        </div>
    </div>
    <div class="top3-pokemon feature">
        <div class="container">
            <div class="feature-image">
                <img src="~/Images/pokeball.png" width="340" height="340" />
            </div>
            <div class="feature-text">
                <div class="feature-detail">
                    <h4>STRIVE TO COLLECT THEM ALL!</h4>
                    <h2>NUMBER OF POKEMON FOR THE TOP 3 USERS</h2>
                    <div class="feature-stats">
                        <!--
                            <h5>List out the top 3 user emails and the number of Pokémon they have</h5>
                        -->
                        @foreach (var item in @Model.TopUserNumPokemon)
                        {
                            <div class="stat-function-item flex-item">
                                <h5>@item.Email: <span>@item.NumPokemon Pokémon</span></h5>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="generation feature">
        <div class="container">
        <div class="feature-text">
            <div class="feature-detail">
                <h4>WHAT GENERATION DO YOU LOVE?</h4>
                <h2>GENERATION POPULARITY</h2>
                <div class="feature-stats">
                    <!--
                        <h5>List each generation and the number of Pokémon being used</h5>
                    -->
                    @foreach (var item in @Model.GenerationPop)
                    {
                        <div class="stat-function-item flex-item">
                            <h5>Generation @item.GenNum (@item.GenName): <span>@item.GenUsers Pokémon</span></h5>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="feature-image">
            <img src="~/Images/pokemonhome2.png" width="749" height="422" />
        </div>
        </div>
    </div>
</div>
